global
    daemon
    maxconn 4096
    # stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s

    # # Default SSL material locations
    # ca-base /etc/ssl/certs
    # crt-base /etc/ssl/private

    # # Default ciphers to use on SSL-enabled listening sockets.
    # # For more information, see ciphers(1SSL).
    # ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL

userlist cloud_admins
    user admin  insecure-password {{ password }} # make this a var

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
    {% for app_name in apps.keys() -%}
    acl is_{{ app_name }} hdr_end(host) -i {{ app_name }}.{{ base_domain }}
    {% endfor %}

    {% for app_name in apps.keys() -%}
    use_backend {{ app_name }}_cluster if is_{{ app_name }}
    {% endfor %}
    # default_backend default

# backend default
#     redirect location http://google.com/

{% for app_name, app_params_dict in apps.items() %}
backend {{ app_name }}_cluster
    balance roundrobin
    option httpclose
    option forwardfor
    {% for app_params in app_params_dict.config -%}
    server server{{ loop.index }}_{{ app_name }} {{ app_params.ip }}:{{ app_params.port }} check maxconn 32
    {% endfor %}
    {% if app_params_dict.app_type == "wwwp" %}
    #Authentication realm. This can be set to anything. Escape space characters with a backslash.
    acl AuthOkay_{{ app_name }} http_auth(cloud_admins)
    http-request auth realm {{ app_name }} if !AuthOkay_{{ app_name }}
    {% endif %}
{% endfor %}

# listen admin
#     bind 127.0.0.1:8080
#     stats enable

listen admin
    bind *:8181
    stats enable

listen stats 0.0.0.0:9090       #Listen on all IP's on port 9000
    mode http
    balance
    timeout client 5000
    timeout connect 4000
    timeout server 30000

    #This is the virtual URL to access the stats page
    stats uri /        

    #Authentication realm. This can be set to anything. Escape space characters with a backslash.
    stats realm HAProxy\ Statistics 

    #The user/pass you want to use. Change this password!
    stats auth admin:catn1pp3rs   

    #This allows you to take down and bring up back end servers.
    #This will produce an error on older versions of HAProxy.
    stats admin if TRUE