global
    daemon
    maxconn 4096
    # stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    pidfile /var/run/haproxy.pid
    
    # # Default SSL material locations
    # ca-base /etc/ssl/certs
    # crt-base /etc/ssl/private

    # # Default ciphers to use on SSL-enabled listening sockets.
    # # For more information, see ciphers(1SSL).
    # ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL


defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80

listen admin
    bind *:8080
    stats enable

listen stats 0.0.0.0:9090       #Listen on all IP's on port 9000
    mode http
    balance
    timeout client 5000
    timeout connect 4000
    timeout server 30000

    #This is the virtual URL to access the stats page
    stats uri /haproxy_stats        

    #Authentication realm. This can be set to anything. Escape space characters with a backslash.
    stats realm HAProxy\ Statistics 

    #The user/pass you want to use. Change this password!
    stats auth admin:catn1pp3rs   

    #This allows you to take down and bring up back end servers.
    #This will produce an error on older versions of HAProxy.
    stats admin if TRUE